---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="PasixLab - Interactive art, creative code, software art, installation art, lighting, web development"
>
  <main class="page">
    <div class="intro full-height parallax-three">
      <h1 class="page-title">
        p<span class="red">a</span>sixLab
      </h1>
    </div>
    <div class="content full-height">
      <p>
        Hei, tell us your idea, we can help you!<br />
        We can support your projects with many technology solutions.<br />
      </p>
      <a href="mailto:iac@pasixlab.com" target="_blank">Let's connect</a>
    </div>
  </main>
  <div class="footer">© 2012-present pasixLab | Monza-Brianza, Italy</div>
</Layout>

<script>
  window.document.addEventListener("DOMContentLoaded", () => {
    Array.from(document.getElementsByClassName("full-height")).forEach((el) => {
      (el as HTMLElement).style.height = `${window.innerHeight}px`;
    });

    const title = document.querySelector(".page-title");
    const content = document.querySelector(".content");
    if (title && content) {
      title.addEventListener("click", () => {
        content.scrollIntoView({ behavior: "smooth" });
      });
    }
  });
</script>

<style>
  .page {
    text-align: center;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: var(--background);
  }
  .full-height {
    height: 100vh;
  }

  .intro {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .page-title {
    font-family: "Abril Fatface", cursive;
    margin: 0;
    padding: 0px 0px 0px;
    letter-spacing: -0.01rem;
    line-height: 1;
    font-weight: normal;
    font-size: 40px;
    position: relative;
    cursor: pointer;
    color: rgb(200, 200, 200);
  }

  @media screen and (min-width: 375px) {
    .page-title {
      font-size: 70px;
    }
  }

  @media screen and (min-width: 992px) {
    .page-title {
      font-size: 112px;
    }
  }

  @keyframes arrow-fade-in {
    to {
      opacity: 1;
      transform: translateY(45px);
    }
  }
  .page-title:after {
    content: "↓";
    display: block;
    font-size: 50px;
    opacity: 0;
    transform: translateY(10px);
    animation: arrow-fade-in 800ms 500ms cubic-bezier(0.34, 1.56, 0.64, 1)
      forwards;
  }
  .parallax-three {
    width: 100%;
    background-image: url(/three.webp);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .content p {
    padding: 30vh 0px 0px;
    font-size: 20px;
    line-height: 1.5;
  }
  .content a {
    margin-top: 40px;
    font-size: 20px;
    display: block;
    text-decoration: none;
    border: 1px solid var(--accent);
    color: var(--font);
    position: relative;
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 2;
    transition: all 0.5s ease;
  }
  .content a:before {
    content: " ";
    border: 12px solid transparent;
    background-clip: padding-box;
    filter: blur(36px);
    box-sizing: border-box;
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: linear-gradient(165deg, var(--foregraund), var(--accent));
  }
  .content a:hover {
    box-shadow: 0px 3px 6px var(--accent);
  }

  .footer {
    position: sticky;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    bottom: 0;
    z-index: -1;
    font-size: 16px;
    padding: 0 10px;
  }

  .red {
    color: var(--accent);
  }
</style>
