---
export interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <title>{title}</title>
    <meta name="description" content={description} />

    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content="https://pasixlab.com/" />
    <meta
      property="og:image"
      content="https://pasixlab.com/full_metal_jacket.jpg"
    />
    <meta property="og:site_name" content="PasixLab" />
    <meta property="og:type" content="profile" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lato&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --accent: #8c0808;
    --font: rgb(179, 179, 179);
    --background: rgb(0, 0, 0);
    --foregraund: #4d1212;
    font-size: 16px;
    line-height: 1.15;
    font-family: "Lato", sans-serif;
    background-color: var(--background);
    color: var(--font);
  }
  @media screen and (min-width: 992px) {
    :root {
      font-size: 20px;
    }
  }
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
</style>
